/****************************** 颜色变量 ******************************/
// 主题色
$color-primary: #007aff;
// 成功颜色
$color-success: #61c554;
// 警告颜色
$color-warning: #f5bf4f;
// 错误颜色
$color-error: #ed6a5d;
// 信息颜色
$color-info: #999999;
// 文字颜色
$color-text: #333333;
// 辅助文字颜色
$color-text-accessory: #666666;
// 边框颜色
$color-border: #dddddd;
// 线条颜色
$color-line: #e8e8e8;
// 基础背景颜色
$color-background: #f5f5f5;
// 基白色
$color-white: #ffffff;
// 黑色
$color-black: #000000;
// 灰色
$color-grey: #666666;
// 浅灰色
$color-lightgrey: #999999;

/****************************** 字体变量 ******************************/
// 超大号字体
$font-size-extra-large: 20px;
// 大号字体
$font-size-large: 18px;
// 中号字体
$font-size-medium: 16px;
// 常规字体
$font-size-regular: 14px;
// 小号字体
$font-size-small: 13px;
// 超小号字体
$font-size-extra-small: 12px;

// 导出变量给 js 模块使用
:export {
  primaryColor: $color-primary;
  successColor: $color-success;
  warningColor: $color-warning;
  errorColor: $color-error;
  infoColor: $color-info;
  textColor: $color-text;
  accessoryTextColor: $color-text-accessory;
  borderColor: $color-border;
  lineColor: $color-line;
  backgroundColor: $color-background;
  whiteColor: $color-white;
  blackColor: $color-black;
  greyColor: $color-grey;
  lightgreyColor: $color-lightgrey;
  extraLargeFontSize: $font-size-extra-large;
  largeFontSize: $font-size-large;
  mediumFontSize: $font-size-medium;
  regularFontSize: $font-size-regular;
  smallFontSize: $font-size-small;
  extraSmallFontSize: $font-size-extra-small;
}
